html {
    background-color: hsl(271, 6%, 66%);
}
.top {
    display: flex;
    height: 2.00rem;
    color: rgb(80, 46, 120);
    font-size: 14px;
    align-items: center;
    list-style: none;
    margin-bottom: 0%;
    font-family: "Rubik";
}
.top :hover {
    color: black;
    letter-spacing: 4px;
}
.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: black;
    color: whitesmoke;
    margin-top: 0%;
    font-family: "Space Mono";
    height: 40px;

}
.nav :hover {
    color: rgb(80, 46, 120);
    font-size: 125%;
}
#cell {
    padding-right: 15px;
}
.nav li {
    border-left: thin groove whitesmoke;
    border-right: thin groove whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding: 8px;
}   
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#phone {
    width: 15px;
    height: auto;

}
#email {
    height: 20px;
    width: auto;
}
#insta {
    height: 20px;
    width: auto;
    padding-right: 15px;
}
.image {
    background-image: url(resources/DaveCoachWide.jpg);
    height: 630px;
}
#Dave {
    border-radius: 50%;
}
#bio {
    font-family: "Permanent Marker";
    font-size: 25px;
}
.about li {
    list-style: none;
    display: flex;
    justify-content: space-around;
}