html {
    background-color: hsl(301, 3%, 29%);
}
.top {
    display: flex;
    height: 2.00rem;
    background-color: hsl(301, 3%, 29%);
    color: rgb(157, 10, 255);
    font-size: 14px;
    align-items: center;
    list-style: none;
    border: thick solid black;
    margin-bottom: 0%;
    font-family: "Rubik";
}
.top :hover {
    color: black;
    letter-spacing: 4px;
}
.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: black;
    color: whitesmoke;
    margin-top: 0%;
    font-family: "Space Mono";

}
.nav :hover {
    color: rgb(157, 10, 255);
}
#cell {
    padding-right: 15px;
}
.nav[li] {
    border: medium solid whitesmoke;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}